<!DOCTYPE html>
<html>
    <head>
        <link href="//datatables.net/download/build/nightly/jquery.dataTables.css" rel="stylesheet" type="text/css" /> 
        <!-- <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css" /> -->
 
        <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
        <script th:src="@{/js/jquery.dataTables.js}"></script>
 		<script type="text/javascript" th:src="@{/js/main.js}"></script>
        <meta charset=utf-8 />
        <title>BeingZero</title>
    </head>
    <style type="text/css">
    	body {
		  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
		  margin: 0;
		  padding: 0;
		  color: #333;
		  background-color: #fff;
		  
		  width: 50%
		}  	
    </style>

    <body width="80%">
        <div class="container">
        	<h3 align = "center">[[${contestID}]]</h3>
            <table id="example1" class="display" >
                <thead>
                    <tr>
                    	<th> Rank </th>
                        <th> User ID </th>
                        <th> User Name </th>
                        <th> Total Score </th>
                        <th> Solved Problems </th>
                    </tr>
                </thead>
		        <tbody>
		        <tr th:each="record : ${RankTable}">     
		            <td data="rank" style="align-text:centere"></td>
		            <td th:text="${record.userID}" data="userID"></td>
		            <td th:text="${record.userName}" data="userName"></td>
		            <td th:text="${record.score}" data="score"></td>
		            <td th:text="${record.solvedProbelems}" data="solvedProbelems"></td>
		        </tr>
		        </tbody>
            </table>
        </div>
    </body>
</html>
 
 
 
